* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    margin: 0 auto;
    font-family: sans-serif, Arial, Verdana;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h4 {
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
.main-wrapper {
    max-width: 1600px;
}

/*---header----*/
header {
    background-color: lightslategray;
    color: white;
    background-image: url("/img/wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav.header-navigation {
    width: 1140px;
    padding: 40px 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .menu-bottoms a {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-left: 15px;
}
header .captions {
    text-align: center;
    padding: 255px 0;
}
header .captions .welcome,
header .captions .your-favorite{
    line-height: 24px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
header .captions .your-favorite{

}
header .captions .welcome{
    text-transform: uppercase;
}
header .captions .your-favorite{
    text-transform: capitalize;
}
header .captions button{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    margin-top: 20px;
    padding: 19px 34px;
    border: solid 2px #ffffff;
    background-color:rgba(0,0,0,0);
    letter-spacing: 1px;
}
.wrapper{
    padding-top: 100px;
    max-width: 1140px;
    margin: 0 auto;
    color: #555555;
}

/*-----single-services--------*/
.wrapper .selection{
    text-align: center;
    background-color: #ffffff;
}
.wrapper .selection .services{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
}
.wrapper .selection .services:after{
    content: '';
    display: block;
    width: 50px;
    background-color: #555555;
    height: 2px;
    margin: 29px auto;
}
.wrapper .single-services{
    padding: 70px 0 100px;
    display: flex;
    justify-content: space-between;
}
.wrapper .single-services .service{
    max-width: 345px;
}
.wrapper .single-services .service .ellipse{
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    margin: 0 auto;
}

